@model List<EmployeeToListDTO>
@{ 
    Layout = "_MyLayout";
}
<link href="~/css/but.css" rel="stylesheet" />
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Employee</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Employee</li>
        </ol>

        <div class="grid-button">
            <a asp-controller="Employee" asp-action="AddEmployee" class="btn btn-primary">AddEmployee</a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Employee
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>

                            <th>EmployeeName</th>
                            <th>EmployeeSurname</th>
                            <th>Salary</th>
                            <th>DateofBirth</th>
                            <th>DepartmentName</th>
                            <th>SectorName</th>
                            <th>PositionName</th>
                            <th>Update</th>
                            <th>Delete</th>
                            <th>Salary</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>EmployeeName</th>
                            <th>EmployeeSurname</th>
                            <th>Salary</th>
                            <th>DateofBirth</th>
                            <th>DepartmentName</th>
                            <th>SectorName</th>
                            <th>PositionName</th>
                            <th>Update</th>
                            <th>Delete</th>
                            <th>Salary</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                        <tr>
                            <td>@employee.EmployeeName</td>
                            <td>@employee.EmployeeSurname</td>
                            <td>@employee.Salary</td>
                            <td>@employee.DateofBirth</td>
                            <td>@employee.Department.DepartmentName</td>
                            <td>@employee.Sector.SectorName</td>
                            <td>@employee.Position.PositionName</td>
                            <td>@Html.ActionLink("Update", "UpdateEmployee", "Employee", new { id = employee.EmployeeId }, new { @class = "btn btn-primary" })</td>
                            <td>@Html.ActionLink("Delete", "Delete", "Employee", new { id = employee.EmployeeId }, new { @class = "btn btn-danger" })</td>
                            <td>@Html.ActionLink("Salary", "Index", "Salary", new { id =employee.EmployeeId }, new { @class = "btn btn-success" })</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>